language: android

#android:
#  components:
#    - tools # to get the new `repository-11.xml`
#    - tools # see https://github.com/travis-ci/travis-ci/issues/6040#issuecomment-219367943)
#    - build-tools-30.0.2
#    - platform-tools
#    - android-29
#    - android-30
#    - extra-android-m2repository
#    - extra-google-m2repository
#    - extra-android-support
#    - extra-google-google_play_services

jdk:
   - openjdk11

addons:
  apt:
    packages:
      - python3-pip

before_cache:
 - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
 directories:
 - $HOME/.gradle/caches/
 - $HOME/.gradle/wrapper/
 - $HOME/.gradle/nodejs/
 - node_modules

before_install:
#  - "pip3 install codecov"

before_install:
- yes | sdkmanager "platforms;android-30;android-29;build-tools-30.0.2"

script:
   - ./gradlew clean jacocoTestReport sonarqube
   
after_success:
#  - "codecov"

sudo: false
