<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1009004"
    android:versionName="1.9.4.20150220-1911"
    package="us.nineworlds.serenity">

  <uses-sdk
      android:minSdkVersion="17"
      android:targetSdkVersion="25"
      tools:overrideLibrary="android.support.v17.leanback"/>

  <!-- try to exclude phone devices from the list. Currently only support Tablets and TVs -->
  <supports-screens
      android:largeScreens="true"
      android:normalScreens="false"
      android:smallScreens="false"
      android:xlargeScreens="true"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <uses-feature
      android:name="android.hardware.touchscreen"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.faketouch"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.telephony"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.camera"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.nfc"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.location.gps"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.microphone"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.sensor"
      android:required="false"/>
  <uses-feature
      android:name="android.software.leanback"
      android:required="false"/>

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:name=".SerenityApplication"
      android:allowBackup="true"
      android:hardwareAccelerated="true"
      android:icon="@drawable/serenity_bonsai_logo"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:theme="@style/AppTheme">
    <meta-data
        android:name="us.nineworlds.serenity.SerenityGlideModule"
        android:value="GlideModule"/>
    <meta-data
        android:name="android.app.default_searchable"
        android:value="us.nineworlds.serenity.ui.search.SearchableActivity"/>

    <activity
        android:name=".ui.browser.movie.MovieBrowserActivity"
        android:hardwareAccelerated="true"
        android:label="@string/title_activity_movie_browser"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/CustomActionBarTheme"/>
    <activity
        android:name=".MainActivity"
        android:hardwareAccelerated="true"
        android:label="@string/title_activity_main"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/CustomActionBarTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".AndroidTV"
        android:hardwareAccelerated="true"
        android:icon="@drawable/serenity_androidtv_banner"
        android:label="@string/title_activity_main"
        android:logo="@drawable/serenity_androidtv_banner"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/CustomActionBarTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.leanback.search.SearchActivity"
        android:hardwareAccelerated="true"
        android:icon="@drawable/serenity_androidtv_banner"
        android:label="Search"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/Theme.Leanback">
      >
    </activity>
    <activity
        android:name=".ui.browser.tv.TVShowBrowserActivity"
        android:label="@string/title_activity_tvbrowser_show"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/CustomActionBarTheme"/>
    <activity
        android:name=".ui.browser.tv.seasons.TVShowSeasonBrowserActivity"
        android:label="@string/title_activity_tvbrowser_show_season"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/CustomActionBarTheme"/>
    <activity
        android:name=".ui.browser.tv.episodes.EpisodeBrowserActivity"
        android:label="@string/title_activity_tvbrowser_show_episodes"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/CustomActionBarTheme"/>

    <activity
        android:name=".ui.video.player.ExoplayerVideoActivity"
        android:label="Exo Video Player"
        android:screenOrientation="landscape"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
        android:name=".ui.video.player.SerenitySurfaceViewVideoActivity"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/Theme.AppCompat.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.video.player.RecommendationPlayerActivity"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/Theme.AppCompat.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.preferences.SerenityPreferenceActivity"
        android:screenOrientation="sensorLandscape"/>
    <activity
        android:name=".ui.search.SearchableActivity"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/CustomActionBarTheme">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>

      <meta-data
          android:name="android.app.searchable"
          android:resource="@xml/searchable"/>
    </activity>
    <activity android:name=".ui.activity.OverscanSetupActivity"/>

    <service android:name=".core.services.MovieSearchIntentService"/>
    <service
        android:name=".core.services.OnDeckRecommendationIntentService"
        android:enabled="true"
        android:exported="true"/>

    <provider
        android:name=".ui.search.SerenitySuggestionProvider"
        android:authorities="us.nineworlds.serenity.ui.search.SerenitySuggestionProvider"/>
    <provider
        android:name=".core.SerenityRecommendationContentProvider"
        android:authorities="us.nineworlds.serenity.core.SerenityRecommendationContentProvider"
        android:exported="true"/>

    <receiver android:name=".StartupBroadcastReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </receiver>

  </application>

</manifest>