<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kingargyle.plexappclient"
    android:versionCode="1"
    android:versionName="0.9.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="13" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="com.github.kingargyle.plexappclient.SerenityApplication"
        android:allowBackup="true"
        android:icon="@drawable/serenity_logo2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity
            android:name="com.github.kingargyle.plexappclient.ui.browser.movie.MovieBrowserActivity"
            android:label="@string/title_activity_movie_browser"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.github.kingargyle.plexappclient.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:hardwareAccelerated="false"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="com.github.kingargyle.plexappclient.ui.browser.tv.TVShowBrowserActivity"
            android:label="@string/title_activity_tvbrowser_show" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.github.kingargyle.plexappclient.ui.browser.tv.seasons.TVShowSeasonBrowserActivity"
            android:label="@string/title_activity_tvbrowser_show_season" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.github.kingargyle.plexappclient.ui.browser.tv.episodes.EpisodeBrowserActivity"
            android:label="@string/title_activity_tvbrowser_show_episodes" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.github.kingargyle.plexappclient.ui.video.player.SerenitySurfaceViewVideoActivity"
            android:label="@string/video_title" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
        </activity>  
        
        <activity android:name=".ui.preferences.SerenityPreferenceActivity"
            android:screenOrientation="landscape"></activity>
        
        <service android:name=".core.services.MainMenuIntentService"/>
        <service android:name=".core.services.MoviesRetrievalIntentService"/>
        <service android:name=".core.services.EpisodeRetrievalIntentService"/>
        <service android:name=".core.services.MovieCategoryRetrievalIntentService"/>
        <service android:name=".core.services.MovieSecondaryCategoryRetrievalIntentService"/>
        <service android:name=".core.services.ShowRetrievalIntentService"/>
        <service android:name=".core.services.ShowSeasonRetrievalIntentService"/>
        <service android:name=".core.services.TVShowCategoryRetrievalIntentService"/>
        
    </application>

</manifest>